<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>edit page</title>
        <meta http-equiv="Content-Type"
                content="text/html; charset=UTF-8" />
        <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        td { padding:0px 20px; background:#eee;}
        </style>
</head>
<body>
        <h1 th:text="${title}">Edit page</h1>
        <table>
        <form method="post" action="/delete"
                th:object="${formModel}">
                <input type="hidden" name="id" th:value="*{id}" />
                <tr><td><p th:text="|이름：　*{name}|"></p></td></tr>
                <tr><td><p th:text="|학번：　*{studentNum}|" ></p></td></tr>
                <tr><td><p th:text="*{java}"></p></td></tr>
                <tr><td><p th:text="*{db}"></p></td></tr>
                <tr><td><p th:text="*{linux}"></p></td></tr>
                <tr><td><input type="submit" value="삭제"/></td></tr>
        </form>
        </table>
</body>
</html>
