
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
       <title>top page</title>
       <meta http-equiv="Content-Type"
               content="text/html; charset=UTF-8" />
       <style>
       h1 { font-size:18pt; font-weight:bold; color:gray; }
       body { font-size:13pt; color:gray; margin:5px 25px; }
       </style>
</head>
<body>
<form method="post" action="/">
   <input type="text" name="num1"> 
   <input type="text" name="num2">
<input type="submit" value="Click" />
</form>
<p th:text="${res1}"></p>
<p th:text="${res2}"></p>
<p th:text="${res3}"></p>
<p th:text="${res4}"></p>
</body>
</html>