<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>top page</title>
        <meta http-equiv="Content-Type"
                content="text/html; charset=UTF-8" />
        <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        </style>
        <style th:include="part :: frag_style"></style>
</head>
<body>
        <h1 th:text="#{content.title}">Helo page</h1>
        <div th:include="part :: frag_body">
                <p>this is orginal content.</p>
        </div>
</body>
</html>
