<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>part page</title>
        <meta http-equiv="Content-Type"
                content="text/html; charset=UTF-8" />
        <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        </style>
        <style th:fragment="frag_style">
        div.fragment {
                border:solid 3px lightgray;
                padding:0px 20px;
        }
        </style>
</head>
<body>
        <h1>Part page</h1>
        <div th:fragment="frag_body">
                <h2>fragment</h2>
                <div class="fragment">
                        <p>this is fragment content.</p>
                        <p>sample message...</p>
                </div>
        </div>
</body>
</html>
