
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
       <title>top page</title>
       <meta http-equiv="Content-Type"
               content="text/html; charset=UTF-8" />
       <style>
       h1 { font-size:18pt; font-weight:bold; color:gray; }
       body { font-size:13pt; color:gray; margin:5px 25px; }
       </style>
</head>
<body>
<form method="post" action="/">
   이름<input type="text" name="name"></p>
   몸무케<input type="text" name="weight"></p>
   키<input type="text" name="height">
<input type="submit" value="Click" />
</form>
<p th:text="${name}">
<p th:text="${res}">
<p th:text="${bmiresult}"></p>

</body>
</html>