<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
       <title>top page</title>
       <meta http-equiv="Content-Type"
               content="text/html; charset=UTF-8" />
       <style>
       h1 { font-size:18pt; font-weight:bold; color:gray; }
       body { font-size:13pt; color:gray; margin:5px 25px; }
       </style>
</head>
<body>
<form method="post" action="/">
	이름: <input type="text" name="name" />
	키: <input type="text" name="height" />
	몸무게: <input type="text" name="weight"/>
<input type="submit" value="Click" />
</form>
<p th:text="${res}">please wait...</p>
<p th:text="${res2}">please wait...</p>
</body>
</html>
