<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#e0e0ff; }
	table.navi {width:100%; background:white; }
	table.navi tr { background:white; }
	table.navi tr td { background:white; }
	.err { color:red; }
	</style>
</head>
<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p th:text="${msg}"></p>
	<table>
	<form method="post" action="/">
	<tr><td><label for="name">이름</label></td>
	        <td><input type="text" name="name" /></td></tr>
	<tr><td><label for="memo">메모</label></td>
	<td><textarea name="memo"
	                        cols="20" rows="5"></textarea></td></tr>
	<tr><td></td><td><input type="submit" /></td></tr>
	</form>
	</table>
	<hr/>
	<table>
	<tr><th>이름</th><th>메모</th><th>일시</th></tr>
	<tr th:each="obj : ${datalist}">
	        <td th:text="${obj.name}"></td>
	        <td th:text="${obj.memo}"></td>
	        <td th:text="${obj.date}"></td>
	</tr>
	</table>
</body>
</html>
