<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color: white;
	background: darkgray;
	font-size:12px;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
.last {
	background: #FFF;
}
</style>
</head>
<body>
	<h1 th:text="#{content.title}">Grade System</h1>
	<table>
		<form method="post" action="/" th:object="${formModel}">
			<tr>
				<td><label for="name">이름</label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td>
			</tr>
			<tr>
				<td><label for="code">학번</label></td>
				<td><input type="text" name="code" th:value="*{code}" /></td>
			</tr>
			<tr>
				<td><label for="java">자바</label></td>
				<td><input type="text" name="java" th:value="*{java}" /></td>
			</tr>
				<td><label for="spring">스프링부트</label></td>
				<td><input type="text" name="spring" th:value="*{spring}" /></td>
			</tr>
			<tr>
				<td><label for="database">데이터베이스</label></td>
				<td><input type="text" name="database" th:value="*{database}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" /></td>
			</tr>
		</form>
	</table>
	<hr />
	<table>
		<tr>
			<th>ID</th>
			<th>이름</th>
			<th>JAVA</th>
			<th>SPRING-BOOT</th>
			<th>DATABASE</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"> </td> 
			<td th:text="${obj.Java}" width = "100px"> </td> 
			<td th:text="${obj.Spring}" width = "100px"> </td> 
			<td th:text="${obj.Database}" width = "100px"> </td>
			<td class = "last"><a th:href="@{'/edit/' + ${obj.id}}"><button>수정</button></a></td>
			<td class = "last"><a th:href="@{'/delete/' + ${obj.id}}"><button>삭제</button></a></td>
		</tr>
	</table>
</body>
</html>
