<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>top page</title>
        <meta http-equiv="Content-Type"
                content="text/html; charset=UTF-8" />
        <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        tr { margin:5px; }
        th { padding:5px; color:white; background:darkgray; }
        td { padding:5px; color:black; background:#e0e0ff; }
        </style>
</head>
<body>
        <h1 th:text="#{content.title}">Helo page</h1>
        <table>
                <tr>
                        <th>NAME</th>
                        <th>MAIL</th>
                        <th>TEL</th>
                </tr>
                <tr th:each="obj:${data}">
                        <td th:text="${obj[0]}"></td>
                        <td th:text="${obj[1]}"></td>
                        <td th:text="${obj[2]}"></td>
                </tr>
        </table>
</body



</html>
