<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
		h1 { font-size:18pt; font-weight:bold; color:gray; }
		body { font-size:13pt; color:gray; margin:5px 25px; }
		pre { font-size:13pt; color:gray; padding:5px 10px;
		        border:1px solid gray; }
	</style>
</head>
<body>
        <h1 th:text="#{content.title}">Helo page</h1>
        <div th:object="${object}">
                <p th:text="|my name is *{name}. mail address is *{value}.|">message.</p>
        </div>
</body>

</html>