@CHARSET "UTF-8";

.bbsview_list {width:345px; margin:0 auto;}
.bbsview_box { border:2px solid #384d75; background:#f0f3fa;  font-weight:bold; font-size:16px;}


input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}
