<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
		h1 { font-size:18pt; font-weight:bold; color:gray; }
		body { font-size:13pt; color:gray; margin:5px 25px; }
		pre { font-size:13pt; color:gray; padding:5px 10px;
		        border:1px solid gray; }
	</style>
</head>
<body>
        <h1 th:text="#{content.title}">Helo page</h1>
        <!-- 아래를 입력하지 않으면 18번째 라인 출력 안됨 -->
        <p th:text="${param.id[0]}"></p>
        <p><a th:href="@{'/home/' + ${param.id[0]}}">link</a></p>
</body>
</html>