<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<table>
		<form method="post" action="/insert">
		<input type="hidden" name="id" th:value="*{id}" />
			<tr>
				<td><label for="name">이름</label></td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td><label for="code">학번</label></td>
				<td><input type="text" name="code" /></td>
			</tr>
			<tr>
				<td><label for="Java">자바</label></td>
				<td><input type="text" name="Java" /></td>
			</tr>
			<tr>
				<td><label for="SpringBoot">스프링부트</label></td>
				<td><input type="text" name="SpringBoot" /></td>
			</tr>
			<tr>
				<td><label for="DataBase">데이터베이스</label></td>
				<td><input type="text" name="DataBase" /></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value = "저장"/>
					</form>
					<a th:href="@{'/'}"><button>취소</button></a>
				</td>
			</tr>
	</table>
</body>
</html>
