@CHARSET "UTF-8";
a:link { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; 
color: red; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; 
color: yellow; }