<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>edit page</title>
        <meta http-equiv="Content-Type"
                content="text/html; charset=UTF-8" />
        <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        tr { margin:5px; }
        th { padding:5px; color:white; background:darkgray; }
        td { padding:5px; color:black; background:#e0e0ff; }
        </style>
</head>
<body>
        <h1 th:text="${title}">Edit page</h1>
        <table>
        <form method="post" action="/edit" th:object="${formModel}">
                <input type="hidden" name="id" th:value="*{id}" />
                <tr><td><label for="name">이름</label></td>
                        <td><input type="text" name="name" th:value="*{name}" /></td></tr>
                <tr><td><label for="classnum">학번</label></td>
                        <td><input type="text" name="classnum"  th:value="*{classnum}" /></td></tr>
                <tr><td><label for="java">자바</label></td>
                        <td><input type="text" name="java"  th:value="*{java}" /></td></tr>
                <tr><td><label for="springboot">스프링부트</label></td>
                        <td><input type="text" name="springboot"  th:value="*{springboot}" /></td></tr>
                <tr><td><label for="database">데이터베이스</label></td>
                        <td><input type="text" name="database"  th:value="*{database}" /></td></tr>
                <tr><td></td><td><input type="submit" /></td></tr>
        </form>
        </table>
</body>
</html>